.logo-style{
    height:40px;
    width:40px;
    border-radius:20px;
    
}
.nav1{
    background-color:red;
}
.div1{
    background-image: linear-gradient(185deg,#bc2727 0%,#f45c43 58%)!important;
    text-align:center;
    color:white;
}
.h1_1{
    font-size:45px;
}
.p1{
    font-size:15px;
}

.btn1{
    border-radius:20px;
    width: 300px; 
}
.btn2{
    margin-left:50px;
    background:#ba2727;
    border: 1px solid #ba2727;
}
.btn22{
    margin-right:50px;
    background:#ba2727;
    border: 1px solid #ba2727;
}